<div class="row">
    <div class="col12">

    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-6 ">
                        <h4 class="">Datos de Empresas</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword6">Buscar:</label>
                                <input type="password" id="inputPassword6" placeholder="Buscador de empresas" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">

                            </div>
                        </form>
                    </div>
                </div>

                <div class="">
                    <table class="table table-hover mb-0 table-centered table-nowrap ">
                        <thead class="thead-dark ">
                            <tr>
                                <th>Nombre</th>
                                <th>Sigla</th>
                                <th>Nit</th>
                                <th class="text-right "> </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of enterprises ">
                                <td>
                                    <p class="font-size-14 mb-0 ">{{item.name}}</p>
                                </td>
                                <td>
                                    <p class="font-size-14 mb-0 ">{{item.initials}}</p>
                                </td>
                                <td>
                                    <p class="font-size-14 mb-0 ">{{item.nit}}</p>
                                </td>

                                <td class="text-right ">

                                    <div class="btn-group " role="group " ngbDropdown>
                                        <button id="btnGroupVerticalDrop1 " type="button " class="btn btn-primary dropdown-toggle " ngbDropdownToggle>
                                        Acciones <i class="mdi mdi-chevron-down "></i>
                                      </button>
                                        <div style="cursor: pointer; " class="dropdown-menu font-weight-bolder " aria-labelledby="btnGroupVerticalDrop1 " ngbDropdownMenu>
                                            <a class="dropdown-item "> <i class="fa fa-search mr-2 "></i>Ver más</a>
                                            <a class="dropdown-item "> <i class="fa fa-edit mr-2 "></i>Editar </a>
                                            <a class="dropdown-item "> <i class="fa fa-ban mr-2 "></i>Suspender </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row align-items-right mt-2 ">
                    <!--      <div class="col-sm-12 col-md-5 ">
                        <div class="dataTables_info mb-2 " id="tickets-table_info " role="status " aria-live="polite ">Showing entries
                        </div>
                    </div> -->
                    <div class="col-sm-12 ">
                        <div class="text-md-right float-md-right pagination-rounded ">
                            <ngb-pagination [collectionSize]="pagination.collectionSize " [pageSize]="pagination.pageSize " [(page)]="pagination.page " aria-label="Default pagination "></ngb-pagination>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>