<div class="card">
    <div class="card-body">
        <div class="col-12 d-flex justify-content-between">
            <h4 class="card-title text-secondary">{{title}}</h4>
            <span>
                <i style="font-size: 28px;" class="{{icon}} text-primary"></i>
            </span>
        </div>
        <div class="col-12">
            <h3>{{value | number : '1.0-0'}}</h3>
        </div>
        <!--  <hr>
         <div class="col-12">

            <p class="m-0">En un periodo de </p>
        </div> -->
    </div>
</div>