<!-- <div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">

                <app-nav-items-dynamic class="navbar-nav" [navItems]="navItems" [first]="'true'"></app-nav-items-dynamic>

            </div>
        </nav>
    </div>
</div> -->
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    <ng-container *ngFor="let item of navItems">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle arrow-none" href="javascript: void(0);" [routerLink]="(item.name == 'Tablero' ? '/' : item.link)" id="topnav-components" role="button" (click)="onMenuClick($event)">
                                <i class="ri-dashboard-line mr-2"></i>{{ item.name }}
                                <div *ngIf="item.child.length>0" class="arrow-down">
                                </div>
                            </a>

                            <div class="dropdown-menu row" aria-labelledby="topnav-dashboard" *ngIf="hasItems(item)" id="navmenu">
                                <ng-template ngFor let-i="index" let-subitem [ngForOf]="item.child">
                                    <a class="col dropdown-item side-nav-link-ref" *ngIf="!hasItems(subitem)" [routerLink]="subitem.link" routerLinkActive="active">{{subitem.name}}</a>

                                    <div class="dropdown" *ngIf="hasItems(subitem)">
                                        <a class="dropdown-item" (click)="onMenuClick($event)">{{ subitem.name}}
                                            <div class="arrow-down"></div>
                                          </a>
                                        <div class="dropdown-menu">
                                            <ng-template ngFor let-subSubitem [ngForOf]="subitem.child">
                                                <a class="dropdown-item side-nav-link-ref" [routerLink]="subSubitem.link" routerLinkActive="active">{{ subSubitem.name }}</a>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </nav>
    </div>
</div>