<app-modal-basic #restoreModal [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <div class="row">
            <h4 class=" text text-center justify-content-center modal-title   p-1">Nueva Contraseña
            </h4>

        </div>
    </div>
    <div class="app-modal-body">
        <form changeForm="ngForm">
            <p class="card-subtitle mb-2 ">Es necesario Cambiar la contraseña</p>
            <div class="row mt-3 ">
                <div class="form-group col-12">
                    <label for="new-password"></label>
                    <input type="password" [(ngModel)]="newPassword" name="new-password" class="form-control" id="new-password" autocomplete="on" placeholder="Nueva Contraseña">
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer ">
        <div class="text-right ">
            <button type="button " class="btn btn-danger btn-sm mr-2" *ngIf="canExit" (click)="restoreModal.hide() ">Cerrar</button>
            <button type="button " class="btn btn-success btn-sm " (click)="changePassword()">Cambiar
                Contraseña</button>
        </div>
    </div>
</app-modal-basic>