<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-sm-dark.svg" alt="" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.svg" alt="" height="45">
                    </span>
                </a> -->

                <!-- <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                      <img src="assets/images/logo-sm-light.svg" alt="" height="45">
                    </span>
                                <span class="logo-lg">
                        <img src="assets/images/logo-light.svg" alt="" height="40">
                        </span>
                </a> -->
                <a href="/" class="logo">
                    <span class="logo-sm">
                        <img src="assets/images/logo.png" alt="" height="45">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo.png" alt="" height="40">
                        </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item" (click)="toggleMenubar()">
              <i class="ri-menu-2-line align-middle"></i>
            </button>

        </div>

        <div class="d-flex">

            <!--FULL SCREEM
                
                <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen" (click)="fullscreen()">
                  <i class="ri-fullscreen-line"></i>
                </button>
            </div> -->

            <!--Notifications-->
            <div class="dropdown d-inline-block" ngbDropdown>
                <button type="button" ngbDropdownToggle class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ri-notification-3-line"></i>
                  <span class="noti-dot"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0" ngbDropdownMenu aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0">Notificaciones</h6>
                            </div>
                            <div class="col-auto">
                                <a href="javascript: void(0);" class="small">Ver todas</a>
                            </div>
                        </div>
                    </div>
                    <perfect-scrollbar style="position: relative; height: 230px;" [config]="configData">

                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <img src="assets/images/users/avatar-4.jpg" class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">{{ 'notification.tile' }}</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">{{ 'notification.detail' }}</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i>{{ 'notificaction.time' }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </perfect-scrollbar>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-right-circle mr-1"></i> Ver Más
                        </a>
                    </div>
                </div>
            </div>

            <!--USER-->
            <div class="dropdown d-inline-block user-dropdown" ngbDropdown>
                <button type="button" ngbDropdownToggle class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="rounded-circle header-profile-user" [src]="user.imagenUrl" alt="Header Avatar">
                  <span class="d-none d-xl-inline-block ml-1">{{user.person.first_name}} {{user.person.first_surname}}</span>
                  <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                 </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <!-- item-->
                    <a class="dropdown-item" href="javascript: void(0);"><i class="ri-user-line align-middle mr-1"></i>
                      Perfil</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" (click)="logout()"><i
                      class="ri-shut-down-line align-middle mr-1 text-danger"></i>
                    Cerrar Sesión </a>
                </div>
            </div>

            <!-- <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect" (click)="onSettingsButtonClicked()">
                  <i class="ri-settings-2-line"></i>
                </button>
            </div> -->
        </div>
    </div>
</header>